a:hover {
    font-family: 'Hubballi', cursive;
    padding: 10px;
background-color: rgb(184, 53, 140);
color: rgb(27, 26, 26);
border-style: solid;
border-color: rgb(19, 187, 27);

}

p
{
    font-family: 'Fredoka', sans-serif;

}

h1{
    font-family: 'Fredoka', sans-serif;


}

ol{
    font-family: 'Fredoka', sans-serif;

}
.clase1{

list-style: decimal-leading-zero;
}

.clase2{

    list-style: circle;
    }


    .clase1{

    list-style-type: lower-roman;
    }


    table{box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);

    }

    

    thead{
        color: black;
        background-color: tomato;
        border: 2px, solid;
    }

    img{
        position: fixed;
        width: 10%;
        left: 60%;


    }
